body{
	background-color: #3266a8;
}
ul{
	font-size: 14px ;
}
div
{background-color: hotpink;
width: 400px ;
margin: 30px;
border-width: 2px;
border-color: blueviolet;
border-style: dotted;
padding: 15px 5px;}
img{margin: 50px;}